.games {
  margin-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  place-items: center;
}
.gamesContent {
 
  height: 100vh;
}
.gamePageContent {
  background: linear-gradient(-45deg, #000000, #00177a, #227fd6, #bce9f7);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100%;
}

.subheader {
  text-align: right;
}

.nav {
  display: flex;
  justify-content: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1700px) {
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .games {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .games {
    grid-template-columns: repeat(1, 1fr);
  }
}
