.gameImg {
  width: 250px;
  height: 360px;
}

.gameBox {
  max-width: 1100px;
}
.pageContent {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.chipArray {
  display: inline-block;
}

.details {
  min-height: 315px;
}
