.content{
    background: linear-gradient(-45deg, #000000, #00177a, #227fd6, #bce9f7);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
    height: 100vh;
}
.gameTable{
    margin-top: 50px;
    width: 1400px;
}

.container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}